.body {
  width: 100vw;
  height: auto;
}

#moving-div {
  position: relative;
  width: 496px;
  height: 500px;
  background-color: #cac0c0;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 100px;
}
